* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #778777;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1100px;
  margin: 20px auto;
}

.header img {
  width: 200px;
}

.header h1 {
  color: white;

}

.form-section {
  max-width: 1100px;
  margin: 20px auto;

}

.item-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 50px 20px 20px 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #eee;
}


/* Grid Container Layouts */
.container {
  max-width: 1100px;
  border-radius: 5px;
  margin: 10px auto;
}

/* Ensure the grid container fills the available space */
.container.item-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Example: 3 equal columns */
  gap: 16px; /* Spacing between items */
  width: 100%; /* Full width of the parent */
}

/* Ensure all grid items fill their column */
.item {
  width: 100%; /* Ensure items take full width */
  margin-bottom: 10px;
}

/* Ensure the currency input container takes the full width */
.currency-input {
  width: 100%; /* Full width for the parent container */
}

/* Ensure the MUI components within CurrencyInput fill the width */
.currency-input .MuiFormControl-root {
  width: 100%; /* Ensure MUI FormControl takes full width */
}

.currency-input .MuiInputBase-root {
  width: 100%; /* Ensure the InputBase fills the parent */
}

.currency-input .MuiInputBase-input {
  width: 100%; 
  box-sizing: border-box; 
}

.section-header {
  margin: 10px auto;
  text-align: center;

  h3 {
    padding: 10px 20px;
    background-color: white;
    font-weight: 400;
    background: linear-gradient(90deg, #4facfe, #f093fb);
    color: white;
    border-radius: 5px;
  }
}

